@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Bree+Serif);

$brand-primary: #001F3F;

$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Bree Serif', serif;

@import "bootstrap";

body {
  padding-bottom: 20px;
  background: transparent image-url('cloth_alike.png') left top repeat;
}

.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  padding-top: 19px;
  color: $gray;
  border-top: 1px solid $gray-light;
}

@media (min-width: $screen-lg-min) {
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  .footer {
    margin-top: 30px;
  }

  .jumbotron {
    border-bottom: 0;
  }
}

@import "static";
