.jumbotron {
  padding-top: 50px;
  padding-bottom: 75px;
  background-color: #001F3F;
  color: $gray-lighter;
  text-align: center;
  margin-bottom: 0;
}

.steps {
  @media (min-width: $screen-lg-min) {
    position: relative;
    top: -25px;
  }

  .step {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-top: 100px;
    }

    margin-bottom: 50px;

    &.active span {
      background-color: lighten($brand-primary, 13.5%);
    }

    span {
      background-color: $gray;
      text-align: center;
      border-radius: 50%;
      font-size: $font-size-h1;
      color: $body-bg;
      padding: 22px 34px;
    }
  }
}

.instructions {
  text-align: center;

  form {
    margin-top: 25px;
  }
}
