.jumbotron {
  background-color: $body-bg;
  text-align: center;
}

.steps {
  .spacer {
    border-bottom: 1px solid $gray-lighter;
    margin-top: 25px;
  }

  .step {
    margin: 35px 0 75px;

    &.active span {
      background-color: $brand-primary;
    }

    span {
      background-color: $gray-dark;
      text-align: center;
      border-radius: 50%;
      font-size: $font-size-h1;
      color: $body-bg;
      padding: 22px 34px;
    }
  }
}

.instructions {
  text-align: center;
}
